<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>v-if | v-else-if | v-else</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
	<div v-html="title"></div>
	<input v-model="grade">
	<div v-if="grade=='A'"><h3>v-if 실행 :: A grade...</h3></div>
	<div v-else-if="grade=='B'"><h3>v-else-if 실행 :: B grade...</h3></div>
	<div v-else><h3>v-else 실행 :: Try Again...</h3></div>
</div>
<script>
	var model = {
		title : 'ENCORE',
		grade : 'A'
	}
	var app = new Vue({
		el:'#app',
		data:model
	});
</script>
</body>
</html>