<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>template 태그의 사용법</title>
<!-- template 태그 쓰면 브라우저에서 요소 검사 해도 나타나지 않는다 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
	<div v-html="title"></div>
	<input v-model="grade">
	<template v-if="grade=='A'">
		<div>grade의</div>
		<div>값이</div>
		<div>A인 경우입니다</div>
	</template>
	<template v-else>
		<div>grade의</div>
		<div>값이</div>
		<div>A가 아닌 경우입니다</div>
	</template>
</div>
<script>
	var model = {
		title : 'ENCORE',
		grade : 'A'
	}
	var app = new Vue({
		el:'#app',
		data:model
	});
</script>
</body>
</html>