<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>

</style>
</head>
<body>
	<div id="second">
		<h2>Encore SAFE FOOD</h2>
	</div>
	<div id="app">
		<fieldset id="checkboxArea1">
			<legend>알레르기 체크</legend>
			<input type="checkbox" name="box" value="대두" v-model="alergen"><label>대두</label>
			<input type="checkbox" name="box" value="땅콩" v-model="alergen"><label>땅콩</label>
			<input type="checkbox" name="box" value="우유" v-model="alergen"><label>우유</label>
			<input type="checkbox" name="box" value="게" v-model="alergen"><label>게</label>
			<input type="checkbox" name="box" value="새우" v-model="alergen"><label>새우</label>
			<input type="checkbox" name="box" value="참치" v-model="alergen"><label>참치</label>
			<input type="checkbox" name="box" value="연어" v-model="alergen"><label>연어</label>
			<input type="checkbox" name="box" value="쑥" v-model="alergen"><label>쑥</label>
			<input type="checkbox" name="box" value="쇠고기" v-model="alergen"><label>쇠고기</label>
			<input type="checkbox" name="box" value="닭고기" v-model="alergen"><label>닭고기</label>
			<input type="checkbox" name="box" value="돼지고기" v-model="alergen"><label>돼지고기</label>
			<input type="checkbox" name="box" value="복숭아" v-model="alergen"><label>복숭아</label>
			<input type="checkbox" name="box" value="민들레" v-model="alergen"><label>민들레</label>
			<input type="checkbox" name="box" value="달걀흰자" v-model="alergen"><label>달걀흰자</label>
		</fieldset>
		
		<fieldset id="checkboxArea2" v-if="moreZero">
			알러지 요인들 : <span v-html="alergen"></span>
		</fieldset>
	</div>
	<script>
		var app =new Vue({
			el:'#app',
			data:{
				alergen:[ ] //초기화는 []로 해야한다
			},
			computed:{
				moreZero:function(){
					//알러지로 한개 이상 check한 것이 있을때만
					return this.alergen.length>0;
				}
			}
		});
	</script>
</body>
</html>